.todo {
   display: grid;
   place-items: center;
   min-height: 100vh;
   &__flex {
      display: flex;
      flex-direction: column;
      width: clamp(310px, 50%, 700px);
      height: 500px
   }
   &__title {
      flex: 0 0 50px;
   }
   &__addTask {
      flex: 0 0 50px;
   }
   &__newTasks {
      flex: 0 0 300px;
      overflow-y: auto;
      &::-webkit-scrollbar {
         width: 7px;
         background-color: #e6e6ea;
      }
      &::-webkit-scrollbar-thumb {
         background-color: #f4f4f8;
         border: 1px solid #e6e6ea;
      }
   }
   &__info {
      display: flex;
      align-items: center;
      flex: 1 0 50px;
      border-top: 2px solid #e6e6ea;
      border-bottom: 2px solid #e6e6ea;
      &_text {
         padding-left: 5px;
         font-size: 14px;
      }
   }
   &__filters {
      flex: 0 0 50px;
   }
   &__filter {
      margin: 0 4px;
      padding: 5px 10px;
      border: 2px solid #e6e6ea;
      background-color: transparent;
      cursor: pointer;
      transition: all .3s ease;
      &:hover {
         background-color: turquoise;
      }
      &:first-child {margin: 0 4px 0 0;}
   }
   &__form {
      &_enterTask {
         width: 70%;
         padding: 5px;
         border: 2px solid #e6e6ea;
         outline: none;
         cursor: text;
      }
   }
   &__task {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      &_complete {
         cursor: pointer;
         &:checked + .todo__task_text{
            color: #cdcdcd;
            text-decoration: line-through;
            font-style: italic;
         }
      }
      &_text {
         padding-left: 10px;
         font-size: 14px;
         font-weight: 300;
      }
      &_delete {
         margin-left: auto;
         padding-right: 5px;
         color: #4a4e4d;
         font-size: 12px;
         cursor: pointer;
         border-radius: 3px;
      }
   }
}

.container {
   &.filter {
      display: flex;
      align-items: center;
      padding: 10px 0;
      :last-child {margin-left: auto;}
   }
   &.info {
      @extend .container.filter;
      width: 100%;
   }
   &.addTask {
      padding-top: 10px;
   }

}